

<div class="container">
  <div class="row">
    <div class="employee-card">
      <div class="card-body">
        <div class="employee-img">
          <a href=""><img src="{{employee.imageUrl}}" alt="Employee image" /></a>
        </div>
        <div class="employee-info">
          <h5>{{employee.name}}</h5>
          <p>{{employee.jobTitle}}</p>
        </div>
      </div>
      <ul class="employee-details">
        <li><span class="icon">📧</span>{{employee.email}}</li>
        <li><span class="icon">📞</span>{{employee.phone}} Phone:</li>
      </ul>
      <div class="card-actions">
        <button id="btn-edit" (click)="onEditEmployee()">Edit</button>
        <button class="btn-delete" (click)="onDeleteEmployee()">Delete</button>
      </div>
    </div>
  </div>
</div>



